@charset "UTF-8";
* {
	margin: 0 auto;
	padding: 0;
	font-family: sans-serif; 
}

header {
	margin: 0 auto;
	position: relative;
	width: 800px;
	height: 80px;
}
#logo {
	position: absolute;
	top: 50px;
	left: 15px;
}
header > button {
	float: right;
	margin-top: 60px;
	margin-left: 15px;
}

button {
	border: solid 1px rgba(128, 128, 128, 0.5);
	width: 70px;
	background-color: #fff;
}
.set {
	margin: 0 auto;
	text-align: center;
}
.name {
	width: 150px;
	text-align: center;
	color: olive;
}
.content {
	width: 650px;
}
.wrap {
	width: 100%;
}
h1 {
	margin-top: 20px;
	text-align: center;
	color: olive;
	margin-top: 50px;
	margin-bottom: 50px;
}
table {
	border-collapse: collapse;
	margin: 0 auto;
	width: 800px;
}
input {
	width: 650px;
}
.content > input{
	color: olive;
	border: 0;
	border-bottom: 1px olive solid;
}
input:focus {
	outline: none;
}
textarea {
	color: olive;
	text-decoration: underline;
	resize: none;
	border: 0;
	background-color: #fff;
	border-bottom: solid 1px olive;
	border-right: solid 1px olive;
}
textarea:focus {
	outline: none;
}
td {
	padding-bottom: 20px;
}